.a {
  color: #fff;
  text-decoration: none;
}

.button:hover {
  background-color: #f6d365;
  color: #000;
}
.button {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 20px 1rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 150px;
  text-align: center;
  text-decoration-style: none;
}
.button::marker {
  content: "";
}
@media all and (max-width: 768px) {
  .button {
    width: 100%;
    /* background-color: #f6c344; */
    position: relative;
  }
}
@media only screen and (max-width: 450px) {
  * {
    /* background-color: #f6c344; */
  }
}
